@model DP_Portal.Models.Login


@{
    /**/

    ViewBag.Title = "Login";
    Layout = null;

}
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <style>
        <!--
        CSS only -->
        .cascading-right {
            margin-right: -50px;
        }

        @@media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }

        .w-100 {
            width: 120% !important;
        }
    </style>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <!-- Jumbotron -->
        <div class="container py-4">
            <div class="form-group ">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-7 mb-5 mb-lg-0">
                        <img src="~/Content/doc.jpg" class="w-100 rounded-4 shadow-4"
                             alt="" />
                    </div>
                    <div class="col-lg-5 mb-5 mb-lg-0">
                        <div class="card cascading-right w-100 rounded-4 shadow-4" style="
            background: hsla(0, 0%, 100%, 0.90); ">
                            <div class="card-body p-5 shadow-5">
                                <h2 class="fw-bold mb-5 text-center">Doctor Patient Portal</h2>

                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <div class="form-group ">
                                            <label>User Name </label>
                                            @*@Html.EditorFor(model => model.UserName)**@
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your User Name" } })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <div class="form-group form-outline ">
                                            <label>Password</label>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your  Password" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="row text-right">
                                    <div class="col-md-8 mb-12 ">
                                        @{
                                            if (Session["Error"] != null)
                                            {
                                        <div class="alert alert-danger" role="alert">
                                            @Session["Error"]
                                        </div>

                                            }
                                        }

                                    </div>
                                    <div class="col-md-4 mb-12 ">
                                        <div class="form-group ">
                                            <!-- Submit button -->
                                            <div class="loginbtn text-center d-grid gap-2">

                                                <input type="submit" value="Login" class="btn btn-primary" />

                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-12">
                                        <div class="form-group ">
                                            <p>Don't have an account? <a href="/Home/Create" class="btn btn-secondary">Register here</a></p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
                                            }
</section>
